*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-color: black;
    height:40px ;
}
#header-text{
    max-width: 1250px;
    width: 100%;
    background-color: black;
    height: 40px;
    justify-content:center;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;

}

#logo-navbar-icon-section{
    display: flex;
    max-width: 1250px;
    width: 100%;
    justify-content: space-between;
    gap: 25px;
    margin: 12px auto;
}
.logo{
    font-size: 25px;
    color: black;
}
#icon-fa{
    display: none;
}
.nav-bar{
    display: flex;
    gap: 25px;
}
.icon{
    display: flex;
    gap: 25px;
    
}
.icon img{
    width: 25px;
    height: 25px;

}
.her0-section{
max-width: 1250px;
width: 100%;
}
#ion{
    margin: 0 30 ;
}
#hero-image img{
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    position: absolute;
}
#text{
    position: relative;
bottom: -350px;
color: white;
font-size: 40px;
width: 600px;
height: 48.41;
max-width: 1250px;
margin: 25px 30px;
}
#text2{
    position: relative;
bottom: -350px;
color: white;
font-size: 20px;
width:500px;
height: 24.2px;
max-width: 1250px;
margin: 25px 30px;
}

#Explored-button{
    color: black;
   
    background-color: white;
    position: relative;
    bottom: -290px;
    border: 1px solid black;
    border-radius: 50px;
    width: 176px;
    height: 55px;
    left: 1100px;
 gap: 10px;
 font-size: 24px;
 margin: 0 40px;
}
.new-collection{
    max-width: 1250px;
    width: 100%;
    margin: 400px auto;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
#coll1{
    color: black;
    font-size: 40px;
    
}
#coll2{
    color: black;
    font-size: 20px;
}
.book-price{
    max-width: 1250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
flex-wrap: wrap;
margin: -300px auto;
}
.book-price .Box1{
    text-align: center;
}

.book-price .Box1 img{
    width: 300px;
    height: 200px;
}
.book-price .Box2{
    text-align: center;
}

.book-price .Box2 img{
    width: 300px;
    height: 200px;
}
.book-price .Box3{
    text-align: center;
}

.book-price .Box3 img{
    width: 300px;
    height: 200px;
}
.book-price .Box4{
    text-align: center;
}

.book-price .Box4 img{
    width: 300px;
    height: 200px;
}
.book-price .Box5{
    text-align: center;
}

.book-price .Box5 img{
    width: 300px;
    height: 200px;
}
.book-price .Box6{
    text-align: center;
}

.book-price .Box6 img{
    width: 300px;
    height: 200px;
}
.book-price .Box7{
    text-align: center;
}

.book-price .Box7 img{
    width: 300px;
    height: 200px;
}
.book-price .Box8{
    text-align: center;
}

.book-price .Box8 img{
    width: 300px;
    height: 200px;
}

.hero-section2{
    border-radius: 30px;
    margin-top: 400px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.hero-section2 img{
    width: 100%;   
     border-radius: 30px;
    
    }
    .hero-section2 h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 15px;
    }
    .hero-section2 #h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        border-radius: 50px;
        width: 176px;
        height: 55px;
       margin-top:  25px;
    }
    #ma{
        margin-top: 35px;
    }
    .hero-section2 .see-details{
    justify-content: center;
    align-items: center;
    display: flex;
    }
    .hero-section2 p{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top:  15px;
        
    }
    .update-section{
        display: flex;
        justify-content: space-between;
        max-width: 1250px;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: 79px auto;
        flex-wrap: wrap;

    }
    .img-section{
        position: relative;
        gap: 10px;
        border-radius: 20px;
    }
.img-section img{
width: 300px;
height: 200px;
}
.text-section{
    text-align: center;
    position: absolute;
    top: 2380px;
    left: 120px;
    color: white;
}
.text-section h2{
    color: white;
    font-size: 20px;
}
.text-section button{
    border-radius: 20px;
    width: 150px;
    height: 40px;
    margin-top: 10px;

}
.img-section2{
    position: relative;
    border-radius: 20px;
    gap: 10px;
}
.img-section2 img{
    width: 300px;
    height: 200px;
    }
    .text-section2{
        text-align: center;
        position: absolute;
        top: 2380px;
        left: 440px;
        color: red;
    }
    .text-section2 h2{
        color: white;
        font-size: 20px;
    }
    .text-section2 button{
        border-radius: 20px;
        width: 150px;
        height: 40px;
        margin-top: 10px;

    }
    .img-section3{
        position: relative;
        border-radius: 20px;
        gap: 10px;
    }
    .img-section3 img{
        width: 300px;
        height: 200px;
        }
        .text-section3{
            text-align: center;
            position: absolute;
            top: 2380px;
            right: 440px;
            color: red;
        }
        .text-section3 h2{
            color: white;
            font-size: 20px;
        }
        .text-section3 button{
            border-radius: 20px;
            width: 150px;
            height: 40px;
            margin-top: 10px;

        }
        .img-section4{
            position: relative;
            border-radius: 20px;
            gap: 10px;
        }
        .img-section4 img{
            width: 300px;
            height: 200px;
            }
            .text-section4{
                text-align: center;
                position: absolute;
                top: 2380px;
                right: 130px;
                color: red;
            }
            .text-section4 h2{
                color: white;
                font-size: 20px;
            }
            .text-section4 button{
                border-radius: 20px;
                width: 150px;
                height: 40px;
                margin-top: 10px;
            }
                        













@media (max-width:425px) {
.header{
    width: 420px;
}
    #header-text{
        text-align: center;
        height:50px ;
        margin-bottom: 25px;
        max-width: 385px;
        width: 100%
    }
    #logo-navbar-icon-section{
        margin: 27px 0;
        max-width:385px ;
        width: 100%;
        justify-content: space-evenly;
    }
    .logo{
        font-size:15px ;
    }
    #icon-fa{
        display: flex;
        font-size: 25px;
    }
    .nav-bar{
        display: none;
    }
    .icon{
        gap: 5px;
    }
    #text-button{
        justify-content: center;
        align-items: center;
        align-content: center;
        display: block;
        
    }
    #text{
        font-size:25px ;
        bottom: -250px;

    }
    #text2{
        font-size: 15px;
        width: 300px; 
        text-align: center;
        bottom: -250px;

    }
    #Explored-button{
        left: 60px;
        gap: 10px;
        font-size: 24px;
        justify-content: center;
        display: block;
        align-items: center;
        align-content: center;
        bottom: -350px;
    }
    .new-collection{
        margin: 500px auto;
        display: block;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    #coll1{
        font-size: 25px;
        
    }
    #coll2{
        font-size: 15px;
    }
    .book-price{
        justify-content: space-evenly;
        margin: -400px auto;
    }

    .book-price .Box1 img{
        width: 150px;
        height: 200px;
        margin:auto 5px ;
    }
    .book-price .Box2 img{
        width: 150px;
        height: 200px;
        margin:auto 5px ;

    }
    .book-price .Box3 img{
        width: 150px;
        height: 200px;
        margin:auto 5px ;

    }
    .book-price .Box4 img{
        width: 150px;
        height: 200px;
        margin:auto 5px ;

    }
    .book-price .Box5 img{
        width: 150px;
        height: 200px;
        margin:auto 5px ;

    }
    .book-price .Box6 img{
        width: 150px;
        height: 200px;
        margin:auto 5px ;

    }
    .book-price .Box7 img{
        width: 150px;
        height: 200px;
        margin:auto 5px ;

    }
    .book-price .Box8 img{
        width: 150px;
        height: 200px;
        margin:auto 5px ;

    }
.hero-section2{
    margin-top: 455px;
}
    .hero-section2 img{
        width: 390px;   
         border-radius: 30px;
        
        }


        .update-section{
            justify-content: space-evenly;
            max-width: 400px;
            width: 100%;
            position: relative;
        }
        .img-section img{
            width: 150px;
            height: 200px;
            }
            .text-section{
                text-align: center;
                position: absolute;
                top: 90px;
                left: 42.5px;
                color: red;
            }
            .text-section h2{
                color: white;
                font-size: 20px;
            }
            .text-section button{
                border-radius: 20px;
                width: 100px;
                height: 40px;
                margin-top: 15px;
            
            }

            .img-section2 img{
                width: 150px;
                height: 200px;
                }
                .text-section2{
                    text-align: center;
                    position: absolute;
                    top: 90px;
                left: 230px;
                    color: red;
                }
                .text-section2 h2{
                    color: white;
                    font-size: 20px;
                }
                .text-section2 button{
                    border-radius: 20px;
                    width: 100px;
                    height: 40px;
                    margin-top: 15px;
                
                }

                
                .img-section3 img{
                    width: 150px;
                    height: 200px;
                    }
                    .text-section3{
                        text-align: center;
                        position: absolute;
                        top: 290px;
                        left: 58px;
                        color: red;
                    }
                    .text-section3 h2{
                        color: white;
                        font-size: 20px;
                        left: -17.5px;
                        position: relative;
                    }
                    .text-section3 button{
                        border-radius: 20px;
                        width: 100px;
                        height: 40px;
                        margin-top: 15px;
                    
                    }

                    
                    .img-section4 img{
                        width: 150px;
                        height: 200px;
                        }
                        .text-section4{
                            text-align: center;
                            position: absolute;
                            top: 290px;
                            left: 235px;
                            color: red;
                        }
                        .text-section4 h2{
                            color: white;
                            font-size: 20px;
                            position: relative;
                            left: 25px;
                        }
                        .text-section4 button{
                            border-radius: 20px;
                            width: 100px;
                            height: 40px;
                            margin-top: 15px;
                        
                        }
            

}


